

<div class="card">
<div class="content-img">
  <div class="fab"><i class="fa fa-edit "> </i></div>

<img class="left" src="../../assets/img/imgprueba.png"/></div>
<div class="content-text">
<i class="type-doc fa fa-video" ></i>
  <h1>Name Item </h1>
</div>
  <div class="card-footer">


   <span class="order">
    <h2>1</h2>
  </span>



    <ul>
  <li>
  <label class="switch switch-default switch-pill switch-primary mr-2">
  <input  id="active" name="active" type="checkbox" class="switch-input" checked="true">
  <span class="switch-label"></span>
  <span class="switch-handle"></span>
  </label>
</li>
  <li><i class="fa fa-trash "></i></li>
</ul>


          </div>
          </div>
