
<!-- Modal -->
<div class=" " id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <form>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar cart</h5>
        <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre">
            <small id="emailHelp" class="form-text text-muted">editar el nombre de la cart elegida </small>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">archivo</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Url Archivo">
            <small id="emailHelp" class="form-text text-muted">foto </small>
          </div>


      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Editar</button>
      </div>
    </div>
    </form>
  </div>
</div>
